.card {
    margin-top: 20px;
}

.nav-links {
    list-style-type: none;
    float: right;
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0px;

}